@keyframes pulseCanvas {
  0% { opacity: 0.75; }
  50% { opacity: 1; }
  100% { opacity: 0.75; }
}

@font-face {
  font-family: "source-sans";
  src: url(fonts/sourcesanspro-light-webfont.woff2) format("woff2"),
    url(fonts/sourcesanspro-light-webfont.woff) format("woff"),
    url(fonts/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: "source-sans-bold";
  src: url(fonts/sourcesanspro-bold.woff2) format("woff2"),
    url(fonts/sourcesanspro-bold.woff) format("woff"),
    url(fonts/SourceSansPro-Bold.ttf);
}

body {
  margin: 0; padding:0;
  background-color: #292929;
  font-family: "source-sans", "better-serif", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: url('../images/cursor.png'), auto;
}

.goto-you, a {
  color: #fff;
  text-decoration: underline;
}
.goto-you:hover, a:hover {
  text-decoration: none;
  cursor: url('../images/cursor-hover.png'), auto;
}

h1, h2, h3 {
  text-align: center;
  color: #fff;
}

h1 {
  font-family: "source-sans-bold";
}

#wall-text {
  position: relative;
  z-index: 1000;
  max-width: 750px;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  margin: 20px auto;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

blockquote {
  font-style: italic;
}

blockquote > cite {
  display: block;
  font-style: normal;
  text-align: right;
}

.quote-source {
  margin: 4px 0px 8px 0px;
  text-align: right;
  font-size: 12px;
}

.quote-source > a { color: #aaa; }

.cta {
  text-align: center;
  font-size: 24px;
}

.cta > .goto-you:before { content: '▶ '; opacity: 0  }
.cta > .goto-you:hover:before { opacity: 1  }

footer {
  font-style: italic;
  border-top: 1px solid #fff;
  padding: 15px 5px;
  margin: 100px auto;
}

/* hypermedia essay styles */

svg {
  position: fixed;
}

#convo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  max-width: 30vw;
  padding: 24px;
  color: #fff;
  font-size: 1.4vw;
  line-height: 1.8vw;
  text-shadow: 0px 0px 24px #000;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.text { word-wrap: anywhere; }

.options { margin-top: 10px; }

.options > div {
  /* text-decoration: underline; */
  cursor: url('../images/cursor-hover.png'), auto;
  margin-top: 5px;
  text-decoration: none;
}

.options > div:before { content: '▶ '; opacity: 0  }

.options > div:hover:before { opacity: 1; }

.options > input, .options > button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 16px;
  margin-right: 10px;
  transition: background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.options > button:hover {
  background-color: rgb(136, 65, 93);
  cursor: url('../images/cursor-hover.png'), auto;
}
